<div class="container">
    <div class="row row-content" ng-controller="DishDetailController">
        <div class="col-xs-12">
            <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.menu">
                Back to Menu
            </button>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" ng-src="{{dish.image}}" alt={{dish.name}}>
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{dish.name}}
                        <span class="label label-danger">{{dish.label}}</span>
                        <span class="badge">{{dish.price | currency}}</span>
                    </h2>
                    <p>{{dish.description}}</p>
                </div>

            </div>

        </div>
        <div class="col-xs-9 col-xs-offset-1">
            <form>
                <div class="form-group">
                    <label for="filterText">Order By</label>
                    <input type="text" class="form-control" id="filterText" placeholder="ex. author, date, rating" ng-model="filterText">
                </div>
            </form>

            <blockquote ng-repeat="comment in dish.comments | orderBy: filterText">
                <p>{{comment.rating}} Stars</p>
                <p>{{comment.comment}}</p>
                <footer>{{comment.author}} <span>{{comment.date | date }}</span></footer>
            </blockquote>
        </div>
        <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
            <ul class="list-unstyled">
                <li>
                    <blockquote ng-show="newCommentForm.$valid">
                        <p>{{newComment.rating}} Stars</p>
                        <p>{{newComment.comment}}</p>
                        <footer>{{newComment.author}} <span>{{newComment.date | date }}</span></footer>
                    </blockquote>
                </li>
            </ul>
            <form class="form-horizontal" name="newCommentForm" role="form"
                  ng-submit="submitComment()" novalidate>
                <div class="form-group" ng-class="{'has-error' : newCommentForm.author.$error.required && !newCommentForm.author.$pristine}">
                    <label for="author" class="col-sm-2 control-label">Your Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="author" name="author" placeholder="Enter Your Name" ng-model="newComment.author" required>
                        <span ng-show="newCommentForm.author.$error.required && !newCommentForm.author.$pristine" class="help-block"> Name is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="numberOfStars" class="col-sm-2 control-label">Number of Stars</label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="numberOfStars" id="numberOfStars" ng-value="1" ng-model="newComment.rating">1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="numberOfstars" id="numberOfStars2" ng-value="2" ng-model="newComment.rating">2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="numberOfstars" id="numberOfStars3" ng-value="3" ng-model="newComment.rating">3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="numberOfstars" id="numberOfStars4" ng-value="4" ng-model="newComment.rating">4
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="numberOfstars" id="numberOfStars5" ng-value="5" ng-model="newComment.rating">5
                        </label>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : newCommentForm.comment.$error.required && !newCommentForm.comment.$pristine }">
                    <label for="comment" class="col-sm-2 control-label">Your Comments</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="comment" name="comment" rows="12" ng-model="newComment.comment" required></textarea>
                        <span ng-show="newCommentForm.comment.$error.required && !newCommentForm.comment.$pristine" class="help-block"> Comment is required </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-disabled="newCommentForm.$invalid">Submit Comment</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>